#%RAML 1.0
---
title: Jukebox API
baseUri: https://someweb.site/{version}
version: 1.0

/songs:
    description: The songs available in the JukeBox site
    get:
        description: Get a list of songs based on the song title
        queryParameters:
            songTitle:
                description: "The title of the song to search for (it is case insensitive and doesn't need to match the entire title)"
                required: true
                minLength: 3
                type: string
                example: "Get L"
            responses:
                200:
                    body:
                        application/json:
                            example: |
                                {
                                    "songs": |
                                    [
                                        {
                                            "songId": "550e8400-e29b-41d4-a716-446655440000",
                                            "songTitle": "Lose yourself to dance"
                                        },
                                        {
                                            "songId": "550e8400-e29b-41d4-a716-446655440001",
                                            "songTitle": "Giogio By Moroder"
                                        }
                                    ]
                                }
    post:
    /{songId}:
        description: Gives access to a single song
        get:
            description: Get the song with `songId == {songId}`
            responses:
                200:
                    body: 
                        application/json:
                            example: |
                            {
                                "songId": "550e8400-e29b-41d4-a716-446655440000",
                                "songTitle": "Get Lucky",
                                "duration": "6.07",
                                "artist": {
                                    "artistId": "110e8300-e32b-41d4-a716-664400445500",
                                    "artistName: "Daft Punk",
                                    "imageUrl": "http://travelhymns.com/wp-content/uploads/2013/06/random-access-memories1.jpg"
                                },
                                "album": {
                                    "albumId": "183100e3-0e2b-4404-a716-66104d440550",
                                    "albumName": "Random Access Memories",
                                    "imageUrl": "http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg"
                                }
                            }
                404:
                    body:
                        application/json:
                            example: |
                                {"message": "Song not found"}
        /file-content:
            description: The file to be reproduced by the client
            get:
                description: Get the file content
                responses: 
                    200:
            post:
    /artists:
        get:
        post:
        /{artistId}:
            get:
            /albums:
                get:
    /albums:
        get:
        post:
        /{albumId}:
            get:
            /songs:
                get: 